@charset "ISO-8859-1";

table {
  border: 1px solid #666;
  border-spacing: 0;
  width: 100%;
  margin: 10px 0 20px 0 !important;
  font-size: 80%;
  border-collapse: collapse;
}

th,td {
  padding: 2px 4px 2px 4px !important;
  text-align: left;
  vertical-align: top;
}

thead tr {
  background-color: #7d9ec0;
}

th.sorted {
  background-color: #104e8b;
}

th a,th a:visited {
  color: black;
}

th a:hover {
  text-decoration: underline;
  color: black;
}

th.sorted a,th.sortable a {
  background-position: right;
  display: block;
  width: 100%;
}

th.sortable a {
  background-image: url(../images/arrow_off.png);
  background-repeat: no-repeat;
}

th.order1 a {
  background-image: url(../images/arrow_down.png);
  background-repeat: no-repeat;
  color: #e8ebf0;
}

th.order2 a {
  background-image: url(../images/arrow_up.png);
  background-repeat: no-repeat;
  color: #e8ebf0;
}

tr.odd {
  background-color: #ffffff;
  background-repeat: no-repeat;
}

tr.tableRowEven,tr.even {
  background-color: #daecf3;
}

span.rtf {
  background-image: url(../images/ico_file_rtf.png);
}

span.pagebanner {
  background-color: #ebebeb;
  border: 1px dotted #999;
  padding: 2px 4px 2px 4px;
  width: 99%;
  margin-top: 2px;
  display: block;
  border-bottom: none;
  text-align: center;
}

span.pagelinks {
  background-color: #ebebeb;
  border: 1px dotted #999;
  padding: 2px 4px 2px 4px;
  width: 99%;
  display: block;
  border-top: none;
  margin-bottom: 2px;
  text-align: center;
}


.group-1 {
  font-weight:bold;
  padding-bottom:10px;
  border-top:1px solid black;
}
.group-2 {
  font-style:italic;
  border-top: 1px solid black;

}
.subtotal-sum, .grandtotal-sum {
  font-weight:bold;
  text-align:right;
}
.subtotal-header {
  padding-bottom: 0px;
  border-top: 1px solid white;
}
.subtotal-label, .grandtotal-label {
  border-top: 1px solid white;
  font-weight: bold;
}
.grouped-table tr.even {
  background-color: #fff;
}
.grouped-table tr.odd {
  background-color: #fff;
}
.grandtotal-row {
  border-top: 2px solid black;
}
